@import url(all.css);
@import url(https://fonts.googleapis.com/css?family=Capriola);

a {
    color: #1A5CC8;
    text-decoration: none;
}

#profile a {
    color: #E8ECF3;
    text-decoration: none;

}

h2 {
    color: blue;
}

input {
    height: 24px;
}

.toprow {
    border: 1px solid #bbbbbb;
    background: #dddddd url(image/table.png) 50% 50% repeat-x;
    color: #444444;
}

.toprow a {
    color: #FFFFFF;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    margin: 15px;
}

.toprow a:hover {
    color: orange;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    margin: 15px;
}

.oddrow {
    background-color: #E5ECF9;
    white-space: nowrap;
}

.evenrow {
    background-color: #f9f9f9;
    white-space: nowrap;
    height: 33px;
}

body {
    background-color: #FFFFFF;
}

.hd {
    color: #FFFFFF;
    font-weight: bold;
}

.time {
    text-align: right;
}

.ip {
    padding-right: 5px;
    text-align: right;
}

tr.userinfo {
    background-color: #FFFFF0;
    font-size: 16px;
}

span.yes {
    color: green;
    font-weight: bolder;
}

span.no {
    color: red;
    font-weight: bolder;
}

.green {
    color: green;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.gray {
    color: gray;
}

.orange {
    color: orange;
}

#wrapper {
    display: block;
    width: 102%;
}

span.exadmin {
    color: gray;
}

.center,
#center {
    width=100%;
    text-align: center;
}

div.content {
    background: none repeat scroll 0 0 #E4F0F8;
    font-family: Times New Roman;
    font-size: 20px;
    line-height: 24px;
    height: auto;
    margin: 0;
    padding: 0 20px;
    text-align: left;
    white-space: normal;
}

.sampledata {
    background: none repeat scroll 0 0 rgba(223, 232, 248, 1);
    font-family: Monospace;
    font-size: 18px;
    white-space: pre;
}

#header {
    height: 12px;
}

.btn {
    position: relative;
    z-index: 300;
    margin: 7px 0 0 15px;
    list-style: none;
    display: inline-block;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    border: 1px solid #cccccc;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-info {
    position: inherit;
    background-color: #49afcd;
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E6E6E6), to(#2f96b4));
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(top, #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

#profile {
    font-weight: bold;
    height: 32px;
    right: 12px;
    position: absolute;
    text-align: right;
    top: 0;
    visibility: visible;
    z-index: 3;
    margin-top: -5px;
}

#broadcast {
    margin-top: 23px;
    color: #F00;
    height: 22px;
    width: 88%;
    margin-bottom: 27px;
    margin-left: 32px;

}

#main {
    margin-left: 19px;
    width: 94%;
}

#main_main {
    margin-left: 19px;
    width: 69%;
}

#sidebar {
    position: static;
    font-size: initial;
    float: right;
    width: 22%;
    margin: 0 4% 0 0;
    padding-right: 16px;
}

#sidebar b {
    font-size: medium;
    margin: 0;
    padding: 0 0 5px 0;
    font: normal 120% arial, sans-serif;
    color: #B60000;
}

#sidebar p {
    line-height: 1.2em;
}

#sidebar h2 {
    display: inline-flex;
    margin-top: -6px;
    font-size: 74%;
    padding: 4px 0 0 0;
    color: #a8aa94;
}

.sidebar h1 {
    font-size: 125%;
}

< !--[if !IE 7]><style type="text/css">#wrapper {
    display: table;
    height: 100%
}

#wrapper section {
    margin-bottom: 15px;
    padding-bottom: 0px;
    display: inline-block;
    text-align: left;
    background: #fff;
    border: 2px solid #ddd;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-color: #2EC866;
}

#foot {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #ccc;
    text-align: center;
    font-size: 1em;
    clear: both;
    height: 4em;

}

#foot a {
    color: rgb(0, 240, 0);
}

#logo {
    height: 84px;
    width: 120px;
    background-image: url('image/juez-patito2.svg');
    background-size: 80% auto;
    background-repeat: no-repeat;
    z-index: 1000000;
    margin-top: -8px;
    overflow: visible;
    position: fixed;
}

#logo_colour {
    color: #2db8cd;
}

#logo h2 {
    margin-top: -61px;
    font-size: 120%;
    color: #FFF974;
    padding: 103px 0px 0px 47px;
    margin-left: -49px;
}

#logo_text {
    padding-top: 10%;
    padding-left: 2px;
}

#menu {
    padding-left: 97px;
    top: 0px;
    height: 58px;
    position: fixed;
    width: 100%;
    background: url('image/content-top.jpg') scroll 22px 0px;
    padding-top: 0px;
    border-bottom: 3px solid #2EC866;

}

#menu ul {
    margin: 7px;
    padding: 0;
    list-style: none;
    line-height: normal;
}

#menu li {
    float: left;
}

#menu li:hover {
    background: #6498C3;
    color: #FFFFFF;
    border-radius: 43px 0 46px 19px;
}

#menu a {
    display: block;
    float: left;
    height: 25px;
    margin-right: 1px;
    padding: 10px 20px 0 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #00B6FF;
}



#menu .current_page_item a {
    background: #F3F3F3;
    color: #2C2E22;
}

#contest a:hover {
    padding: 4;
    color: aliceblue;
    background: rgb(102, 145, 126);
}

#result-tab {
    margin-top: 20px;
    width: 90%;
}

#blog {
    width: 70%;
    border-bottom: 15px none;
    margin-left: 16px;

}

#blog #title a {
    font-size: 30px;
}

#blog #title {
    font-size: 30px;

}

#blog #content {
    margin-bottom: 20px;
    padding: 15px 0px 0px 19px;
    font-size: 12px;
    margin-right: 10px;
    font-style: italic;
}

#blog #by {
    margin-top: -11px;
}

#blog_node {
    border-radius: 14px;
    width: 94%;
    background-color: white;
    margin-top: 15px;
    margin-left: 1%;
    border: 1px solid #2DD551;
    padding-left: 17px;
}

input {
    display: inline-block;
    width: 220px;
    height: 25px;
    padding: 3px;
    margin-bottom: 9px;
    font-size: 13px;
    line-height: 18px;
    color: #555555;
    border: 1px solid #cccccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-color: #2EC866;
}

#registo,
input {
    margin: 23px 10px 0 0;
    height: 25px;
    margin-bottom: 9px;
    font-size: 13px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-color: #2EC866;

}

form {
    border-color: #2EC866;
    color: #555555;
}


#login_img {
    background-image: url(image/login.png);
    height: 128px;
    width: 130px;
    display: block;
    z-index: 10000;
    float: right;
}

#calendar {
    width: 100%;

    float: none;
    display: float;
}

#contest_front {
    width: 106%;
    border-bottom: 2px solid #979FAF;
    align-content: center;
    text-align: center;
    font-size: 23px;
}

#contest_front :hover {
    border-top: 4px solid #A0D8B6;
    ;
    height: 100%;
    width: 100%;
}

#comment {
    display: block;
    position: static;
    margin-left: 19px;
    width: 75%;
    margin-left: 40px;
}

#comment_node {
    border-bottom: dashed;
}

#comment_node #by {
    font-size: 12px;
    font-style: oblique;
    color: #00B6FF;
}

#registro {
    font-size: 19px;
}

#registro label {
    float: left;
    clear: left;
    margin: 29px 10px 0 0;
    width: 201px;
    text-align: right;
    font-size: 17px;
    color: #445668;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px #f2f2f2;
}

#registro legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

#registro select {
    margin: 23px 10px 0 0;
}

#obi-list {
    list-style: none;
    margin: 0;
    margin-left: 7%;
}

#sug-institution {
    width: 28%;
    font-size: 12px;
}

#master-institution {
    padding-left: 13%;
}

#sug-institution li:hover {
    background: #F0F0F0;
}

#sug-institution li {
    padding: 10px;
    background: #FAFAFA;
    border-bottom: #F0F0F0 1px solid;
}

#obi-option {
    margin-left: 208px;
}

#csscapt {
    margin-left: 18%;
    margin-top: 6%;
}